<footer class="w-full h-auto flex flex-col items-center justify-center bg-black p-5">
    <section class="container flex items-center justify-between w-full max-w-6xl px-4 mx-auto border-t-2 border-white/10 py-4 ">
        <h1><span class="text-yellow-300">Drive</span><span class="text-white">Lux</span></h1>
        <div class="icon-container flex gap-4">
            <i class="ri-instagram-line ri-2x text-white text-2xl"></i>
            <i class="ri-facebook-fill ri-2x text-white text-2xl "></i>
            <i class="ri-twitter-x-line ri-2x text-white text-2xl"></i>
        </div>
    </section>
    <section class="container flex items-center justify-center w-full max-w-6xl px-4 mx-auto border-t-2 border-white/10 py-4 text-white">
        <p class="text-sm">Pagina creada por y para fines educativos <a [routerLink]="['/Equipo']" class="text-amber-300">Mas informacion aqui</a></p>
    </section>
</footer>