.main{
    height: 200vh;
}

.custom-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


form{
    width: 400px;
    height: auto;
    padding: 20px;
    
}

.container{
    margin-top: 100px;
}

input{
    padding: 5px;
}

h2{
    margin-bottom: 20px;
}